/* import poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins" !important;
    background-color: #f472b64d !important;
}